@import url("assets/fonts/lineicons.css");

* {
	left: 0;
	top: 0;
	margin: auto;
	box-sizing: border-box
}
@font-face {
	font-family: 'QS-B';
	src: url('assets/fonts/Quicksand-Bold.ttf')
}
@font-face {
	font-family: 'QS-L';
	src: url('assets/fonts/Quicksand-Light.ttf')
}

body {

background-color: black
}

#wallpaper {
	position: absolute;
	width: 90vw;
	margin: auto;
	border-radius: 6px;
	text-align: center;
	left: 50vw;
	margin-left: -45vw;
	top: 195%;
	opacity: .7
}

#logo {
	position: absolute;
	width: 80vw;
	margin: auto;
	border-radius: 6px;
	text-align: center;
	left: 50vw;
	margin-left: -40vw;
	top: 100%;
	z-index: 2
}
#install {
	position: absolute;
	width: 50vw;
	height: 6vh;
	opacity: .7;
	background: linear-gradient(to right, #8B06AD, #0FDEFF);
	left: 50vw;
	margin-left: -25vw;
	top: 80vh;
	border-radius: 10px;
	font-size: 1.9vh;
	color: white;
	font-family: 'QS-B';
	text-align: center;
	padding-top: 5px;
}
#vid {
	width: 100vw;
	opacity: .3
}
#title {
	position: absolute;
	font-size: 6vw;
	font-family: "QS-B";
	width: 100vw;
	color: white;
	top: 140%;
	text-align: center
}
#description {
	position: absolute;
	font-size: 4vw;
	font-family: "QS-L";
	width: 90vw;
	left: 50vw;
	margin-left: -45vw;
	color: white;
	top: 150%;
	text-align: center
}

#fade {
	position: relative;
	width: 100vw;
	height: 130px;
	background: linear-gradient(transparent, black);
	margin-top: -120px
}
#cover {
	position: absolute;
	width: 100vw;
	height: 90px;
	background: black;
	opacity: .8
}
#mode {
	position: absolute;
	font-size: 6vw;
	font-family: "QS-B";
	width: 100vw;
	color: white;
	top: 170%;
	text-align: center
}
#modedes {
	position: absolute;
	font-size: 4vw;
	font-family: "QS-L";
	width: 90vw;
	left: 50vw;
	margin-left: -45vw;
	color: white;
	top: 180%;
	text-align: center
}

#CR {
	position: absolute;
	font-size: 2vw;
	font-family: "QS-L";
	top: 220%;
	text-align: center;
	width: 100vw;
	color: white;
}
