@import url("assets/fonts/lineicons.css");

* {
	left: 0;
	top: 0;
	margin: auto;
	box-sizing: border-box
}
@font-face {
	font-family: 'QS-B';
	src: url('assets/fonts/Quicksand-Bold.ttf')
}

body {

background-color: black
}

#wallpaper {
	position: absolute;
	width: 90vw;
	margin: auto;
	border-radius: 6px;
	text-align: center;
	left: 50vw;
	margin-left: -45vw;
	top: 2vh;
	opacity: .7
}

#logo {
	position: absolute;
	width: 80vw;
	margin: auto;
	border-radius: 6px;
	text-align: center;
	left: 50vw;
	margin-left: -40vw;
	top: 30vh
}
#install {
	position: absolute;
	width: 50vw;
	height: 6vh;
	opacity: .7;
	background: linear-gradient(to right, #8B06AD, #0FDEFF);
	left: 50vw;
	margin-left: -25vw;
	top: 80vh;
	border-radius: 10px;
	font-size: 1.9vh;
	color: white;
	padding-top: 10px;
	font-family: 'QS-B';
	text-align: center
}
#vid {
	width: 100vw;
	opacity: .3
}